/* CATÁLOGO */

#coleccion
{
    margin-bottom: 100px;
}

#coleccion h1
{
    font-size: 37.5px;
}

.lista-catalogo
{
    margin: 0 auto;
    margin-bottom: 35px;
}

.lista-catalogo li
{
    position: relative;

    display: inline-block;

    margin: 0 30px;
}

.lista-catalogo li:after
{
    position: absolute;
    top: calc(50% - 1px);
    left: calc(100% + 30px - 0.5px);

    display: inline-block;

    width: 8px;
    height: 2px;

    content: '';

    background-color: #000;
}

.lista-catalogo li:last-child:after
{
    content: none;
}

.lista-catalogo a
{
    text-decoration: none;

    color: #000;
}

.lista-catalogo a:hover
{
    color: #967f5f;
    border-bottom: 1px solid #967f5f;
}

#catalogo
{
    display: flex;

    width: 75%;
    margin: 0 auto;

    justify-content: center;
}

.producto
{
    font-family: 'poppinsbold';

    margin: 10px;

    transition: .25s ease;

    flex: 1 1;
}

.producto img
{
    width: 100%;
}

.nombre-producto
{
    font-size: 12.5px;

    display: inline-block;

    width: 100%;
    margin: 20px 0;

    letter-spacing: normal;
    text-transform: uppercase;
}

.precio-producto
{
    display: inline-block;

    width: 100%;
    margin: 10px 0 60px 0;

    color: #967f5f;
}

.producto:hover
{
    cursor: pointer;
    transition: .25s ease;

    box-shadow: 0 0 20px #ccc;
}

@media (max-width: 1300px)
{
    #catalogo
    {
        flex-wrap: wrap;
        width: 100%;
    }

    .producto
    {
        width: calc(50% - 20px);

        flex: initial;
    }
}